.HomeContainer {
   position: fixed;
   display: flex;
   align-items: center;
   margin: 0 auto;
   width: 1440px;
   height: 860px;
   transition: 0.6s all ease;
   z-index: 1;
}
.Home_bodycontainer {
   display: flex;
   margin: 0 auto;
   width: 80%;
   height: 80%;
   background-color: white;
   box-shadow: 4px 4px 4px 4px rgba(16, 16, 16, 0.4);
   border-radius: 2px;
}
.Home_bodywrapper {
   display: flex;
   align-items: center;
   width: 50%;
}
.Home_photowrapper {
   width: 50%;
   background-image: url(../Images/photo.jpg);
   background-size: cover;
}
.Home_titleWrapper {
   margin: 0 auto;
   width: 70%;
   height: 50%;
}
.Home_title_hi {
   letter-spacing: 3px;
   text-align: left;
   margin: 0;
   font-size: 35px;
   font-weight: 700;
}
.Home_title_namewrapper {
   width: 100%;
   height: fit-content;
   display: flex;
   font-size: 55px;
   margin: 0;
   margin-top: 10px;
   font-weight: 700;
}
.Home_title_im {
   margin: 0;
   margin-right: 10px;
}
.Home_title_daeseop {
   margin: 0;
   font-weight: 900;
   color: RGB(255, 186, 48);
   font-family: "Alumni Sans Inline One", cursive;
   font-family: "Londrina Shadow", cursive;
}
.Home_title_fedev {
   margin-top: 10px;
   width: fit-content;
   height: 20px;
   font-weight: 700;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 10px;
   background-color: RGB(255, 186, 48);
   font-size: 15px;
}
.Home_title_fedev p {
   margin: 0;
}
.Home_title_summary {
   margin-top: 40px;
   text-align: left;
   font-size: 15px;
   font-weight: 500;
   font-family: "Alumni Sans Inline One", cursive;
   font-family: "Jua", sans-serif;
}
.Home_title_button {
   margin-top: 40px;
   width: fit-content;
   padding: 8px;
   padding-left: 12px;
   padding-right: 12px;
   border-radius: 20px;
   background-color: RGB(255, 186, 48);
   color: white;
   cursor: pointer;
}
