.Container{
    width: 100vw;
    height: 400vh;
}
.BackgroundImg{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(../Images/Background.jpg);
    background-size: cover;
}